body{
  font-family: Arial, Helvetica, sans-serif;
  width: 1080px;
}

header{
  height: 100px;
  background-color:#696969;
}

#header{
  padding-top: 15px;
  margin-left: 60px;
}

#logo{
  margin-right:30px;
}

nav{
  margin: auto;
  display: inline-flex;
}

ul li {
  display: inline-block;
  vertical-align: middle;

  margin-right: 60px;
}

.nav1{
  text-decoration: none;
  color:lightgrey;
}
.nav2{
  text-decoration: none;
  color:lightgrey;
}
.nav3{
  text-decoration: none;
  color:lightgrey;
}
.nav4{
  text-decoration: none;
  color:lightgrey;
}

main{
  margin-left: 60px;
  margin-right: 60px;
  
}
 #hero-image{
   margin-top: 30px;
   margin-bottom: 30px;
}

#sub-banners{
  display: grid;
  height: 400px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px;
  column-gap: 30px;
}

#featured-section{
  display: grid;
  height: 400px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 480px;
  column-gap: 30px;

  margin-bottom: 30px;
}

figure{
  width: 480px;
  height: 400px;
  margin: 0px;
}
h4{
  margin: 0px;
  font-size: 125%;
}
p{
  height: 200;
  margin: 0px;
  overflow-y: scroll;

  font-size: 100%;
  font-style: italic;
}
button{
  width:150px;
  height: 45px;
  border-radius: 5px;

  background-color:black;
  color: white;
  text-align: center;
  font-size: 110%;
  transition: color 350ms;
}
button:hover{
  background-color: gray;
}

footer{
  height: 100px;
  background-color:#696969;
  color: #696969;
}